@import "tailwindcss" source(none);
@source "../../../public/*.html";
@source "../../../app/helpers/**/*.rb";
@source "../../../app/javascript/**/*.js";
@source "../../../app/views/**/*";

@plugin "daisyui" {

   themes: cupcake --default, coffee;

 }

@plugin "daisyui/theme" {
  name: "listentogetherpurple";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #e9ddff;
  --color-base-200: #fef7ff;
  --color-base-300: #66558e;
  --color-base-content: #4d3d75;
  --color-primary: #66558e;
  --color-primary-content: #ffffff;
  --color-secondary: #625b70;
  --color-secondary-content: #ffffff;
  --color-accent: #e8def8;
  --color-accent-content: #4a4458;
  --color-neutral: oklch(38% 0.176 304.987);
  --color-neutral-content: oklch(97% 0.014 308.299);
  --color-info: #ffd9e2;
  --color-info-content: #633b48;
  --color-success: oklch(79% 0.209 151.711);
  --color-success-content: oklch(27% 0.006 286.033);
  --color-warning: oklch(83% 0.128 66.29);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: #ba1a1a;
  --color-error-content: #ffffff;
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.21875rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
