<div>
  <%= simple_form_for [@post, @comment], html: { class: "w-full flex flex-auto justify-center gap-2 py-2",
                                                data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" } } do |f| %>
    <%= f.input :content,
          label: false,
          placeholder: 'Post a new comment here',
          input_html: { class: "w-full bg-base-200"} %>
    <%= f.submit "➤", class: "btn btn-primary text-white" %>
  <% end %>
</div>
