<div>
  <%= simple_form_for [@post, @comment], html: { class: "flex flex-col gap-2", data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" } } do |f| %>
    <%= f.input :content,
          label: false,
          placeholder: 'What do you think ?' %>
    <div class="flex justify-center">
      <%= f.submit "Send", class: "btn btn-primary w-full" %>
      <%# rechargement turbo stream a faire  %>
    </div>
  <% end %>
</div>
