<% unread_messages = user.notifications.unread.where(type: "MessageNotification").count %>
<% if unread_messages.positive? %>
 <span class="badge badge-xs badge-primary indicator-item"></span></span>
<% end %>
