<% unread_messages = user.notifications.where(type: "MessageNotification").unread.count %>
<% if unread_messages.positive? %>
 <span class="indicator-item w-4 h-4 rounded-full bg-base-100 border border-base-300"></span></span>
<% end %>
