<% unread_count = user.notifications.where.not(type: "MessageNotification").unread.count %>
<% if unread_count.positive? %>
  <span class="badge badge-xs badge-primary indicator-item"></span>
<% end %>
