<% unless last_message.nil? %>
  <div class="flex justify-between w-full items-center">
    <em class="last-message flex-1 truncate mr-2">
      <%= "#{sender.username} : #{last_message.body}".truncate(30) %>
    </em>
    <em class="last-message-time whitespace-nowrap text-xs text-base-content/60 ml-20">
      <%= "#{time_ago_in_words(last_message.created_at)} ago" %>
    </em>
  </div>
<% end %>
