<div class="mt-30">
  <ul class="list bg-base-100 rounded-box shadow-md">

    <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">Friend List</li>

    <% if @friends.any? %>
      <% @friends.each do |friend| %>
        <li class="list-row flex items-center gap-4 p-4 border-t border-base-200">
          <div>
            <% if friend.avatar.attached? %>
                <%= cl_image_tag friend.avatar.key, class: "rounded-full w-14" %>
              <% else %>
                <%= image_tag "default_avatar.png", class: "rounded-full w-14" %>
            <% end %>
          </div>
          <div>
            <div>
              <%= link_to friend.username.capitalize, user_path(friend), class: "font-semibold hover:underline" %>
        </li>
      <% end %>
    <% else %>
      <li class="p-4 text-sm text-center text-gray-500">You have no friends yet.</li>
    <% end %>

  </ul>

  <div class="mt-6">
    <%= link_to "â† Back to your profile", user_path(current_user), class: "btn btn-outline" %>
  </div>
</div>
