<%=  simple_form_for [@single_room, @message], html: { class: " msg-form w-full max-w-xs mx-auto p-4 rounded shadow flex flex-col space-y-3" } do |f| %>
  <div class="form-inputs">
  <%= f.input :body, input_html: {id: 'chat-text', class: 'msg-content'} %>
  </div>

  <div class="form-actions">
  <%= f.button :submit, "Send", class:'btn btn-primary' %>
  </div>
<% end %>
